In [1]:
library(haven)
library(tidyverse)
library(broom)
library(lme4)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats
Loading required package: Matrix

Attaching package: 'Matrix'

The following object is masked from 'package:tidyr':

    expand

In [2]:
aaSelect <- function(df, AA){
    aaDf <- df %>% select(id = ID, group = GROUP, age = MATERNALAGE, sex = SEXO, starts_with(AA)) %>%
                         mutate(id = factor(id), 
                                sex =  factor(sex, labels = c('girl', 'boy')),
                                group = factor(group, labels = c('teen', 'adult'))) 
    
    return(aaDf)
}

aaLong <-  function(df, AA){
    aaL <- df %>% gather(week, level, starts_with(AA))
    
    aaL[aaL == paste(AA, 'Calostrum', sep = '')] = 1
    aaL[aaL == paste(AA, 'Transition', sep = '')] = 2
    aaL[aaL == paste(AA, 'Mature2m', sep = '')] = 8
    aaL[aaL == paste(AA, 'Mature4m', sep = '')] = 16

    aaL <- aaL %>% mutate(week = as.numeric(week))
    
    return(aaL)
}

In [3]:
AA_Sex_1 <- read_sav("C:/Users/Personal/AA leche/datos/AMINOACIDOS POR SEXO_1.sav")
head(AA_Sex_1)

  ID GROUP MATERNALAGE SEXO INFANTDOB  MATBMI1COLL MATBMI215d MATBMI32mos
1 1  0     17           1   2009-08-20 25          24         24
2 2  0     16           2   2009-08-24 32          31         30
3 3  0     17           2   2009-08-21 23          23         NA
4 4  0     16           2   2009-08-21 26          NA         NA
5 5  0     16          NA   2009-08-29 25          NA         NA
6 6  0     16           2   2009-08-27 29          28         30
  MATBMI44mos BABYWeigth1g ... ALAGLOB ASNGLOB SYSGLOB GLYGLOB GLUGLOB GLNGLOB
1 22          3492.7       ... 21.25   0.5     1.00    10.00    87.25  23.25
2 29          3392.9       ... 18.25   0.0     0.75    13.75   100.50  40.50
3 NA          2993.8       ...    NA    NA       NA       NA       NA     NA
4 NA          3692.3       ...    NA    NA       NA       NA       NA     NA
5 NA          3592.5       ...    NA    NA       NA       NA       NA     NA
6 31          3093.5       ... 15.50   0.5     1.50    10.25    74.75  30.00
  PROLINEGLOB SERINEGLOB TYRAMINEGLOB new
1 2.75        8.0        1.00         0
2 2.50        9.5        0.75         0
3   NA         NA          NA         0
4   NA         NA          NA         0
5   NA         NA          NA         0
6 5.25        8.0        2.00         0

In [4]:
AA <- 'GLU'

AAdf <- aaSelect(AA_Sex_1, AA) %>% select(-contains('GLOB')) 
AAdf <- AAdf %>% filter(!is.na(AAdf$sex))

head(AAdf)

  id group age sex  GLUCalostrum GLUTransition GLUMature2m GLUMature4m
1 1  teen  17  girl 89            89            99          72
2 2  teen  16  boy   4           103           104         191
3 3  teen  17  boy  54           122            NA          NA
4 4  teen  16  boy  33            NA            NA          NA
5 6  teen  16  boy  30            67            92         110
6 7  teen  16  boy  34            97           115         130

In [21]:
AAdf %>% filter(is.na(GLUTransition) | is.na(GLUMature2m) | is.na(GLUMature4m) )

   id group age sex  GLUCalostrum GLUTransition GLUMature2m GLUMature4m
1  3  teen  17  boy   54          122            NA          NA
2  4  teen  16  boy   33           NA            NA          NA
3  9  teen  17  girl  27           72            NA          NA
4  10 teen  18  boy   84          141            NA          NA
5  11 teen  17  boy   64           84            NA         158
6  12 teen  16  girl  17           NA            NA          NA
7  16 teen  15  boy   43          197           179          NA
8  17 teen  16  boy    9           79           117          NA
9  18 teen  16  boy   69           85           184          NA
10 19 teen  14  boy    3           70           138          NA
11 21 teen  18  girl  27           NA            NA          NA
12 22 teen  16  boy   51           79            NA          NA
13 24 teen  18  boy   17           NA            NA          NA
14 25 teen  17  boy  100           NA            NA          NA
15 26 teen  15  girl   3          130           200          NA
16 29 teen  16  girl   6           60            98          NA
17 33 teen  16  girl 115           NA            NA          NA
18 34 teen  16  girl  45           NA            NA          NA
19 35 teen  18  boy   46           NA           136         144
20 36 teen  16  girl  27          110            NA           2
21 38 teen  17  boy   75          110            NA          NA
22 45 adult 23  boy   48           NA            NA          NA
23 46 adult 19  girl   7           40            NA          74
24 47 adult 20  boy   19           NA            NA          NA
25 48 adult 19  boy   34           48            NA         110
26 49 adult 20  girl  17           NA            NA          NA
27 50 adult 20  boy   55           NA            NA          NA
28 51 adult 23  girl   4           82            NA          99
29 59 adult 27  boy   92           72            81          NA
30 65 adult 19  girl  26           NA            NA          NA
31 66 adult 22  boy   59           NA           128         122
32 67 adult 19  girl  40           76            NA         118

In [ ]:

df <- data.frame(x = c(1, NA, 3, 8), y = c(1, NA, NA, 8))

df %>% filter(is.na(x) | is.na(y))