In [1]:
library(haven)
library(tidyverse)
library(broom)
library(lme4) 
library(latex2exp)
library(gridExtra)
#library(ggforce)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Loading required package: Matrix

Attaching package: 'Matrix'

The following object is masked from 'package:tidyr':

    expand


Attaching package: 'gridExtra'

The following object is masked from 'package:dplyr':

    combine

In [28]:
AA_E_Long <- read.csv('./datos/AA_E_Long.csv')
AA_NE_Long <- read.csv('./datos/AA_NE_Long.csv')

head(AA_NE_Long)

  X id group age sex  weekNames    level week AA
1 1 1  teen  17  girl ARGCalostrum 1     1    ARG
2 2 2  teen  16  boy  ARGCalostrum 1     1    ARG
3 3 3  teen  17  boy  ARGCalostrum 1     1    ARG
4 4 4  teen  16  boy  ARGCalostrum 1     1    ARG
5 5 5  teen  16  NA   ARGCalostrum 2     1    ARG
6 6 6  teen  16  boy  ARGCalostrum 2     1    ARG

# $\alpha_{id}$ effect

In [3]:
meGroup <- function(df){
    
    me <- lmer(level ~ sex + group + week + (1 | id), data = df)
    
    return(me)
}

In [30]:
num_obs <- AA_NE_Long %>% group_by(id, AA) %>% summarise(num_obs = sum(!is.na(level)))
head(num_obs)

  id AA  num_obs
1 1  ALA 4
2 1  ARG 4
3 1  ASN 4
4 1  ASP 4
5 1  CYS 4
6 1  GLN 4

In [31]:
AA_E_Nested <- AA_E_Long %>% group_by(AA) %>% nest()
AA_NE_Nested <- AA_NE_Long %>% group_by(AA) %>% nest()

In [32]:
nAA_E <- dim(AA_E_Nested)[1]
nAA_NE <- dim(AA_NE_Nested)[1]

In [38]:
me_E_G <- list()
tidy_E_G <- list()

for(i in 1:nAA_E){
    
    me_E_G[[i]] <- meGroup(AA_E_Nested$data[[i]])
    tidy_E_G[[i]] <- tidy(me_E_G[[i]], effects = 'fixed') %>% mutate(AA = AA_E_Nested$AA[i])
    
}

In [55]:
me_NE_G <- list()
tidy_NE_G <- list()

for(i in 1:nAA_NE){
    
    me_NE_G[[i]] <- meGroup(AA_NE_Nested$data[[i]])
    tidy_NE_G[[i]] <- tidy(me_NE_G[[i]], effects = 'fixed') %>% mutate(AA = AA_NE_Nested$AA[i])

}

In [57]:
data.frame(ranef(me_E_G[[1]])$id)

    X.Intercept.
1   -0.014677562
2    0.001756398
3    0.108370892
4   -0.092576022
6   -0.076369691
7    0.079882488
8    0.236134666
9   -0.040258959
10   0.015776770
11   0.003034545
12  -0.174474241
13   0.236134666
14  -0.249055829
15   0.158008577
16   0.013310439
17  -0.071436605
18  -0.156183650
19   0.013310439
20  -0.232621869
21  -0.072431567
22   0.108370892
23  -0.154495780
24  -0.092576022
25  -0.092576022
26  -0.021246339
28  -0.014677562
29  -0.021246339
30  -0.154495780
31   0.001756398
32   0.219700706
... ...
34   0.029611107
35  -0.089419420
36  -0.031522234
37   0.141574617
38   0.015776770
39   0.236134666
41  -0.255441092
42  -0.115622874
45  -0.100027228
46  -0.134834092
47  -0.100027228
48   0.069216775
49  -0.079882774
50   0.002015446
51  -0.050087047
52   0.057063264
53  -0.115622874
54  -0.115622874
55  -0.021062825
56   0.118755393
57   0.431259750
58  -0.037496785
59   0.164239714
61   0.196881483
62   0.291441532
63  -0.037496785
64  -0.099188914
65  -0.079882774
66  -0.023237190
67   0.034659997

In [56]:
num_obs %>% filter(AA == 'ARG', num_obs < 2)

    id  AA  num_obs
1    1  ARG 4
2    2  ARG 4
3    3  ARG 2
4    4  ARG 1
5    5  ARG 1
6    6  ARG 4
7    7  ARG 4
8    8  ARG 4
9    9  ARG 2
10  10  ARG 2
11  11  ARG 3
12  12  ARG 1
13  13  ARG 4
14  14  ARG 4
15  15  ARG 4
16  16  ARG 3
17  17  ARG 3
18  18  ARG 3
19  19  ARG 3
20  20  ARG 4
21  21  ARG 1
22  22  ARG 2
23  23  ARG 4
24  24  ARG 1
25  25  ARG 1
26  26  ARG 3
27  27  ARG 3
28  28  ARG 4
29  29  ARG 3
30  30  ARG 4
... ... ... ...
36  36  ARG 3
37  37  ARG 4
38  38  ARG 2
39  39  ARG 4
40  41  ARG 4
41  42  ARG 4
42  43  ARG 1
43  45  ARG 1
44  46  ARG 3
45  47  ARG 1
46  48  ARG 3
47  49  ARG 1
48  50  ARG 1
49  51  ARG 3
50  52  ARG 4
51  53  ARG 4
52  54  ARG 4
53  55  ARG 4
54  56  ARG 4
55  57  ARG 4
56  58  ARG 4
57  59  ARG 3
58  60  ARG 1
59  61  ARG 4
60  62  ARG 4
61  63  ARG 4
62  64  ARG 4
63  65  ARG 1
64  66  ARG 3
65  67  ARG 3